[submodule "cs253/webapp/j2_md"]
	path = cs253/webapp/j2_md
	url = https://github.com/qnub/Jinja2-Markdown.git
[submodule "cs253/webapp/md"]
	path = cs253/webapp/md
	url = https://github.com/waylan/Python-Markdown.git
