<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>SwashBlog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    SwashBlog
  </a>

  <div class="login-area">
    
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    
  </div>

  <div id="content">
  
{% for post in posts %}
  
    <div class="post">
  <div class="post-heading">
    <a href="/unit3/blog/{{post.key().id()}}" class="post-title">
      {{post.subject}}
    </a>

    <div class="post-date">
      {{post.date}}
    </div>
  </div>

  <div class="post-content">
    {{post.content}}
  </div>
</div>
    <br><br>
{% endfor %}
     <div class="age">
      <!-- query age -->
  </div>


  </div>
</body>

</html>
