html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    color: #333;
}

.header {
    height: 30px;
    line-height: 30px;

    margin-bottom: 10px;
}

.controls {
    float: right;
    font-size: 13px;
    color: gray;
}

.controls + .controls {
    margin-right: 20px;
}

.grey-link {
    color: gray;
    text-decoration: none;
}

.grey-link:visited {
    color: gray;
}

.grey-link:hover {
    text-decoration: underline;
}

.main-edit {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 10px;
    left: 0;
}

.main-edit textarea {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    font-size: 14px;
}

.main-edit button {
    font-size: 18px;
}

.form-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.history-table {
    border-collapse: collapse;
}

.history-table .grey {
    background-color: #eee;
}

.history-table .date-cell {
    width: 150px;
}

.history-table .content-cell {
    padding: 10px;
}

.history-table .link-cell {
    padding: 0 5px;
}
.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}