<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/wikimain.css" />

  <title>Swash Wiki</title>
</head>

<body>
  <div class="header">
    <div class="controls">
      {% if user %}
        {{user.name}} (<a class="grey-link" href="/wiki/logout">logout</a>)
      {% else %}
        <a class="grey-link" href="/wiki/login">login</a>
        | 
        <a class="grey-link" href="/wiki/signup">signup</a>
      {% endif %}
    </div>

    <div class="controls">
      {% block controls %}
      {% endblock %}
    </div>

    <div class="clear"></div>
  </div>
  
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>

</body>

</html>

